.websiteBgImage{
    width: 100%;
    background: url(../../public/Assets/websiteImage.png) top center no-repeat;
    background-color: #f2f2f2;
    height: 700px;
    background-size: 87%;
    background-position: right;
    position: relative;
    // position: absolute;
}

.diamond_bgImage{
    // background: url(https://images.pexels.com/photos/1181533/pexels-photo-1181533.jpeg?auto=compress&cs=tinysrgb&w=600);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    // background-color: #ff3;
    transform: rotate(45deg);
    border: 3px solid blue;
}
// .diamond_bgImage:before{
//     content: '';
//     background-image: url(https://unsplash.it/640/640?random;1);
//         display: block;
//     width: var(--grid-unit-width);
//     height: var(--grid-unit-width);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 100%;
//     position: absolute;
//     transform: rotate(314deg);
//     object-fit: contain;
// }

.diamond_Image {
       display: block;
    width: var(--grid-unit-width);
    height: var(--grid-unit-width);
    // width: 150px;
    // height: 150px;
    transform: rotate(-40deg);
}
